<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Trips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Trips</ion-title>
    </ion-toolbar>
  </ion-header>

  <!---
  <ion-card>
    <ion-slide *ngFor="let garantia of garantias" class="slide-menu" (click)="teste(this.id, garantia.id)">
      <img src={{viagem.imagem}} />
    </ion-slide>
  </ion-card>
  -->
</ion-content>